.profile__edit-image {
  object-fit: cover;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 6px 0 6px;
}

@media screen and (max-width: 1279px) {
  .profile__edit-image {
    width: 7.5px;
    height: 7.5px;
    padding: 4.5px 0 4.5px;
  }
}